<!DOCTYPE html>
<html ng-app="SpotifyRadio" ng-controller="SongsController">
<head>
    <title ng-bind="pageTitle"></title>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    @Scripts.Render("~/bundles/SpotifyRadio")
</head>
<body ng-app="ngAnimate">
    <div class="header">
        <ul class="header">
            <li class="header"><img src="~/Images/hamburger.png" href="#home" class="menu" /></li>
            <li ng-repeat="station in stations" class="header"><a href="/#" ng-click="switchSongs(station.Name, station.Id)" class="header">{{station.Name}}</a></li>
            <li style="float:right" class="active header" ng-hide="loggedin"><a class="active" href="/callback" ng-click="login2()">Login</a></li>
            <li style="float:right" class="active header" ng-hide="!loggedin"><a class="active" href="/#">{{username}}</a></li>
        </ul>
    </div>

    <div class="content" ng-view></div>

    <div class="footer">
        <ul class="footer">
            <li class="message" ng-hide="!loggedin">{{}}</li>
            <li class="message" ng-hide="!loggedin">{{}}</li>
            <li class="message" ng-hide="!loggedin">{{}}</li>
            <li class="about" ng-hide="!loggedin">Logged in as {{username}}.</li>
            <li class="about" ng-hide="loggedin">Not logged in.</li>
        </ul>
    </div>

</body>
</html>