/* header */
ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: sans-serif;
    color: #A5DA91;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4A9130;
}

.active {
    background-color: #4A9130;
}

img.menu {
    height: 40px;
    width: 40px;
    padding: 0px 5px;
    position: center relative;
}

a:hover.active {
    background-color: #111;
}

/* footer */
ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
li.about {
    float: right;
    display: block;
    font-family: sans-serif;
    color: #A5DA91;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* body */
div.content {
    padding: 60px;
}

/* song list */
body {
    background-color: #A5DA91;
    margin: 0;
}

.songHeader {
    font-family: sans-serif;
    font-size: 200%;
    color: #144900;
    text-align: center;

    padding-top: 10px;
}

.song {
    width: 700px;
    height: 100px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;

    transition: all linear 0.5s;
}

#albumart {
    width: 100px;
    height: 100px;
    float: left;
}
#songinfo {
    display: inline-block;
    width: 500px;
    float: left;
    height: 100px;
    background-color: #4A9130;

    white-space: nowrap;
    overflow:hidden !important;
    
}
#addbutton {
    background-image: url('../Images/plus-icon.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-color: #4A9130;
    background-position: right;
    
    height: 100px;
    width: 100px;
    float: left;
}

#track {
    font-family: sans-serif;
    font-size: 210%;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    white-space: nowrap;
    color: #A5DA91;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
#artist {
    font-family: Gadugi;
    font-size: 80%;
    padding-left: 10px;
    margin: 0;
    color: #A5DA91;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
img.album {
    background-image: url('../Images/spotify-logo.jpg');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-color: grey;

    max-width:100px;
    max-height:100px;
    height: 100px;
    width: 100px;
    display: block;
}

/* loading animations */
div.loading-image {
    transition: all linear 0.5s;
}

img.spinner {
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.ng-hide {
    height: 0;
}

div.ng-show {
    transition: all linear 0.5s;
}