/* body */
div.content {
    padding: 60px;
}

/* song list */
body {
    background-color: #A5DA91;
    margin: 0;
}

html {
    margin-top: 50px;
    margin-bottom: 50px;
}

#content {
    padding: 50px;
}

.songHeader {
    font-family: sans-serif;
    font-size: 200%;
    color: #144900;
    text-align: center;

    padding-top: 10px;
}

.song {
    width: 700px;
    height: 100px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;

    transition: all linear 0.5s;
}

#albumart {
    width: 100px;
    height: 100px;
    float: left;
}
#songinfo {
    display: inline-block;
    width: 500px;
    float: left;
    height: 100px;
    background-color: #4A9130;

    white-space: nowrap;
    overflow:hidden !important;
    
}
#addbutton {
    background-image: url('../Images/plus-icon.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-color: #4A9130;
    background-position: right;
    
    height: 100px;
    width: 100px;
    float: left;
}

#track {
    font-family: sans-serif;
    font-size: 210%;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    white-space: nowrap;
    color: #A5DA91;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
#artist {
    font-family: Gadugi;
    font-size: 90%;
    padding-left: 10px;
    margin: 0;
    color: #A5DA91;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
img.album {
    background-image: url('../Images/spotify-logo.jpg');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-color: grey;

    max-width:100px;
    max-height:100px;
    height: 100px;
    width: 100px;
    display: block;
}
